<header class="header">
    <div class="container header-container">
        <a class="menuBurger" href="https://adalab.es/"><i class=" fa-solid fa-bars"></i></a>
        <nav class="menu">
            <ul class="menu-list">
                <li><a href="https://www.adalab.es" class="textStyle">Productos</a></li>
                <li><a href="https://www.adalab.es" class="textStyle">Colecciones</a></li>
                <li><a href="https://www.adalab.es" class="textStyle">Tienda</a></li>
                <li><a href="https://www.adalab.es" class="textStyle">Inicio</a></li>
            </ul>
        </nav>
        <img src="./assets/images/logo.png" alt="logo">
    </div>
</header>