<section class="openSpaces">
    <div class="container openSpaces-container">
        <h2 class="openSpaces-title textStyle3">Volverse organizado se siente mejor con<span class="uppercase">
                open spaces</span>
        </h2>
        <div class="openSpaces-item openSpaces-item1">
            <img class="imgItem" src="./assets/images/icon_1.png" alt="Icon1">
            <h3 class="textStyle4">Lo que necesitas</h3>
            <p class="textStyle">Una linea de productos diseñados para todos tus espacios</p>
        </div>
        <div class="openSpaces-item openSpaces-item2">
            <img class="imgItem" src="./assets/images/icon_2.png" alt="Icon2">
            <h3 class="textStyle4">Materias primas sustentables</h3>
            <p class="textStyle">Todos los productos con materias primas sustentables</p>
        </div>
        <div class="openSpaces-item openSpaces-item3">
            <img class="imgItem" src="./assets/images/icon_3.png" alt="Icon3">
            <h3 class="textStyle4">Guía</h3>
            <p class="textStyle">Soporte y asesoramiento para ayudarte con tu objetivo</p>
        </div>
    </div>
</section>