.textStyle2 {
  font-family: $FontPrimari;
  color: $colorPrimary;
  font-size: 36px;
  font-weight: 700;
}

.textStyle3 {
  font-family: $FontPrimari;
  color: $colorPrimary;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.textStyle4 {
  font-family: $FontPrimari;
  color: $colorPrimary;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
}

.textStyle {
  font-family: $FontPrimari;
  color: $colorPrimary;
  font-size: 16px;
  line-height: 30px;
}

.textStyle5 {
  font-family: $FontPrimari;
  color: $colorAlternativeText;
  font-size: 14px;
  line-height: 20px;
}

.textStyle6 {
  font-family: $FontPrimari;
  color: $colorAlternativeText;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
}

.textWhite {
  color: $colorWhite;
}

.textColor-primary {
  color: $colorPrimary;
}

.buttonStyle {
  font-family: $FontPrimari;
  color: $colorWhite;
  font-size: 16px;
  font-weight: 700;
  background-color: $colorPrimary;
  padding: 12px 24px;
  border-style: none;
  width: 176px;
  &-link {
    background-color: transparent;
    text-decoration: underline;
  }
}

.uppercase {
  text-transform: uppercase;
}
