.textStyle2 {
  font-family: $FontPrimary;
  color: $colorPrimary;
  font-size: 36px;
  font-weight: 600;
}

.textStyle3 {
  font-family: $FontPrimary;
  color: $colorPrimary;
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
}

.textStyle4 {
  font-family: $FontPrimary;
  color: $colorPrimary;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.textStyle {
  font-family: $FontPrimary;
  color: $colorPrimary;
  font-size: 16px;
  line-height: 24px;
}

.textStyle5 {
  font-family: $FontPrimary;
  color: $colorAlternativeText;
  font-size: 14px;
  line-height: 20px;
}

.textStyle6 {
  font-family: $FontPrimary;
  color: $colorAlternativeText;
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
}

.textWhite {
  color: $colorWhite;
}

.textColor-primary {
  color: $colorPrimary;
}

.buttonStyle {
  font-family: $FontPrimary;
  color: $colorWhite;
  font-size: 16px;
  font-weight: 600;
  background-color: $colorPrimary;
  padding: 12px 24px;
  border-style: none;
  width: 176px;

  &:hover {
    background-color: $colorWhite;
    color: $colorPrimary;
  }
  &-link {
    background-color: transparent;
    text-decoration: underline;
  }
}

.uppercase {
  text-transform: uppercase;
}
h3 {
  margin-bottom: 10px;
}
